<div class="player-container">
  <div class="player-iconContainer">
    <%= image_tag "profile/#{player.avatar}", class: 'player-icon', style: "background-color: #{player.colour}; box-shadow: 0 0 0 10px #{player.colour}50;" %>
    <% if defined?(position) %>
      <span class="player-position" style="background-color: <%= player.colour %>;"><%= position %></span>
    <% end %>
  </div>
  <p id="playerName" class="player-name" style="background-color: <%= player.colour %>"><%= player.name %></p>
  <% if defined?(position) %>
    <p class="player-score" ><%= player.score %></p>
  <% end %>
</div>
