<div class="form-container">
  <div class="form-wrapper">
    <%= form_for [room] do |form| %>
      <% if room.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(room.errors.count, "error") %> prohibited this room model from being saved:</h2>

          <ul>
            <% room.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

    <div class="row g-3">
      <div class="col-12">
        <h2 class="text-center">Room Name</h2>
        <p class="text-center">Input the name of your room.</p>
      </div>

      <div class="col-12">
        <%= form.label :name, :name %>
        <%= form.text_field :name, class: "form-control" %>
      </div>

      <div class="col-12">
        <%= form.submit :next, class: "btn btn-primary" %>
      </div>
    </div>
    <% end %>
  </div>
</div>

