<% content_for :channels do %>
  <%= vite_javascript_tag 'channels/lobby' %>
<% end %>

<% content_for :extra_js do %>
  <%= vite_javascript_tag 'vue' %>
<% end %>

<div id="roomId" data-room-id="<%= @room_id %>"></div>

<div id="app">
  <div class="row lobby-container m-0 p-0">
    <div class="col-7 qrcode-container">
      <div>
        <h4 class="text-center">Scan QR code</h4>
        <p class="text-center">Scan this QR code to join the lobby.</p>
        <div class="qrcode-wrapper"><%= raw @QRCSVG %></div>
        <p class="text-center">--------- 0r ----------</p>
        <p><%= @new_player_url %></p>
      </div>
    </div>

    <div class="col-5 lobby-wrapper">
      <h1 class="text-center">Lobby</h1>
      <h3 class="text-center lobby-roomName"><%= @room.name %></h3>
      <hr>
        <h3 class="lobby-playersTitle">Settings</h3>
        <table class="table table-striped">
          <tr>
            <td>Number of Rounds</td>
            <td><%= @room.rounds %></td>
          </tr>
        </table>
      <hr>
      <div id="users">
        <h3 class="lobby-playersTitle">Players</h3>
        <div id="userList" class="lobby-playerList">
          <player v-for="player in players" :key="player.id" :player="player"></player>
        </div>
      </div>
      <%= link_to 'Start', room_show_main_path(room_id: @room.room_id), class: 'btn btn-primary lobby-button' %>
    </div>
  </div>
</div>

<script>
  window.players.value = <%= @players.html_safe %>;

  const playerJoinedSound = new Audio(`<%= audio_path 'join_lobby.flac' %>`);
</script>
