<% content_for :channels do %>
  <%= javascript_pack_tag 'channels/lobby' %>
<% end %>

<h1 class="text-center">Lobby</h1>
<h3 class="text-center"><%= @room.name %></h3>

<div id="roomId" data-room-id="<%= @room_id %>"></div>

<div class="row">
  <div class="col-6">
    <h5>Scan QR code to join lobby.</h5>
    <p><%= @new_player_url %></p>
    <p><%= raw @QRCSVG %></p>
  </div>

  <div class="col-6">
    <div id="users">
      <h3>Players</h3>
      <ul id="userList">
        <% @room.players.each do |player| %>
          <li><%= render partial: 'shared/player_large', locals: { player: player } %></li>
        <% end %>
      </ul>
    </div>

    <%= link_to 'Start', room_show_main_path(room_id: @room.room_id), class: 'btn btn-primary' %>
  </div>
</div>
