<% content_for :channels do %>
  <%= javascript_pack_tag 'channels/main' %>
<% end %>

<% content_for :extra_js do %>
  <%= javascript_pack_tag 'vue' %>
<% end %>

<div id="app">
  <h1 class="text-center mt-4"><%= @room.name.titleize %></h1>
  <round-counter :current="currentRound" :total="<%= @room.rounds %>"></round-counter>

  <div id="roomId" data-room-id="<%= @room_id %>"></div>

  <div class="row">
    <div class="col-3 p-5 pe-0">
      <div id="users">
        <h2>Players</h2>
        <ul id="playerList" class="p-0">
          <% @room.player_positions.each do |player| %>
            <%= render partial: 'player', locals: { player: player } %>
          <% end %>
        </ul>
      </div>
    </div>

    <div class="col-9 p-5">
      <%= render partial: 'shared/player_large', locals: { player: @room.questioner } %>
      <h2 id="displayQuestion" class="text-center mt-3"><%= @question.question_for(@room.questioner.name) %></h2>
      <ul class="question-options question-optionsMain" id="questionOptions"></ul>
    </div>
  </div>

  <div id="soundContainer">
    <audio id="playerAnsweredSound" src="<%= audio_path 'question_answered.wav' %>"></audio>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Quiz Finished!</h1>
        </div>
        <div class="modal-body">
          <p>Thank you for playing, continue to see your results.</p>
        </div>
        <div class="modal-footer">
          <%= link_to 'See Results', root_path, class: 'btn btn-primary' %>
        </div>
      </div>
    </div>
  </div>

  <div>
    <canvas id="myChart"></canvas>
  </div>
</div>

<script>
  window.currentRound.value = <%= @room.current_round %>;

  const playerAnsweredSound = new Audio(`<%= audio_path 'question_answered.wav' %>`);
  const selectAnswerSound = new Audio(`<%= audio_path 'countdown.wav' %>`);
  const displayAnswersSound = new Audio(`<%= audio_path 'display_answers.wav' %>`);
  const getReadySound = new Audio(`<%= audio_path 'get_ready.wav' %>`);
  const displayQuestionSound = new Audio(`<%= audio_path 'display_question.mp3' %>`);
</script>
