<% content_for :channels do %>
  <%= javascript_pack_tag 'channels/player' %>
<% end %>

<h3 class="text-center"><%= @room.name %></h3>

<p>Name: <span id="playersName"><%= @player.name %></span></p>

<div id="roomId" data-room-id="<%= @room_id %>"></div>

<h5 id="waitingMessage">Waiting for the quiz to start.</h5>

<h4 id="question"></h4>

<p id="messageContainer"></p>

<ul class="question-options" id="questionOptions"></ul>


<%= form_tag "/rooms/#{@room_id}/question_options", method: :post, remote: true do %>
  <%= hidden_field_tag :question_options %>
  <%= submit_tag 'Done', id: 'questionerSubmitButton', class: 'btn btn-primary d-none' %>
<% end %>

<%= form_tag "/rooms/#{@room_id}/selected_answer", method: :post, remote: true do %>
  <%= hidden_field_tag :selected_answer %>
  <%= hidden_field_tag :player_answered, @player.name %>
  <%= submit_tag 'Answer', id: 'answererSubmitButton', class: 'btn btn-primary d-none' %>
<% end %>

<%= form_tag "/rooms/#{@room_id}/player_ready", method: :post, remote: true do %>
  <%= hidden_field_tag :player_ready, @player.name %>
  <%= submit_tag 'Ready', id: 'playerReadyButton', class: 'btn btn-primary d-none' %>
<% end %>
