<% content_for :channels do %>
  <%= javascript_pack_tag 'channels/main' %>
<% end %>

<h1 class="text-center">How well do you know each other?</h1>
<h4 class="text-center"><%= @room.name %></h4>

<div id="roomId" data-room-id="<%= @room_id %>"></div>

<div class="row">
  <div class="col-6">
    <h3>Score board</h3>
    <div class="score-board">
      <% @room.player_positions.each_with_index do |player, index| %>
        <%= render partial: 'shared/player_large', locals: { player: player, position: index + 1 } %>
      <% end %>
    </div>

    <div id="users">
      <h3>Answering</h3>
      <ul id="playerList">
        <% @room.answerers.each do |player| %>
          <%= render partial: 'shared/player_small', locals: { player: player } %>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="col-6">
    <h4>Question for <%= @room.questioner.name %></h4>
    <h1 id="displayQuestion"><%= @question.question_for(@room.questioner.name) %></h1>

    <ul class="question-options" id="questionOptions"></ul>
  </div>
</div>

<div id="soundContainer">
  <audio id="playerAnsweredSound" src="<%= audio_path 'question_answered.wav' %>"></audio>
</div>

<script>
    const playerAnsweredSound = new Audio(`<%= audio_path 'question_answered.wav' %>`);
    const selectAnswerSound = new Audio(`<%= audio_path 'countdown.wav' %>`);
    const displayAnswersSound = new Audio(`<%= audio_path 'display_answers.wav' %>`);
    const getReadySound = new Audio(`<%= audio_path 'get_ready.wav' %>`);
    const displayQuestionSound = new Audio(`<%= audio_path 'display_question.mp3' %>`);
</script>
