<% content_for :channels do %>
  <%= javascript_pack_tag 'channels/player' %>
<% end %>
<div id="roomId" data-room-id="<%= @room_id %>"></div>

<%= render partial: 'waiting' %>

<%# TODO: hide the waiting container and then display everything else when the quiz starts. %>


<div class="player-topHUD">
  <small id="playersName"><%= @player.name.capitalize %></small>
  <h4 id="question" class="m-0"></h4>
  <hr>
  <p data-player-hud-info="correct" class="d-none">Select the correct answer.</p>
  <p data-player-hud-info="incorrect" class="d-none">Now select <span id="playerHUDIncorrect">0</span> / <span id="playerHUDIncorrectLimit">0</span> incorrect answers.</p>
  <p data-player-hud-info="done" class="d-none">If you're happy press 'Done'.</p>
  <p data-player-hud-info="waiting for options to be selected" class="d-none">Waiting for the options to be selected.</p>
  <p data-player-hud-info="confirm ready" class="d-none">Press ready to start the next question.</p>
  <p data-player-hud-info="ready" class="d-none">Waiting for other players to get ready.</p>
  <p data-player-hud-info="select your answer" class="d-none">Quick! Select your answer!</p>
  <p data-player-hud-info="wait for players to answer" class="d-none">Wait for players to answer.</p>
</div>

<ul class="question-options m-0 pt-2 pb-5" id="questionOptions"></ul>

<div class="player-bottomHUD">
  <%= form_tag "/rooms/#{@room_id}/question_options", method: :post, remote: true do %>
    <%= hidden_field_tag :correct_answer %>
    <%= hidden_field_tag :incorrect_answers %>
    <%= submit_tag 'Done', id: 'questionerSubmitButton', class: 'btn btn-primary d-none w-100' %>
  <% end %>

  <%= form_tag "/rooms/#{@room_id}/selected_answer", method: :post, remote: true do %>
    <%= hidden_field_tag :selected_answer %>
    <%= hidden_field_tag :player_answered, @player.name %>
    <%= submit_tag 'Answer', id: 'answererSubmitButton', class: 'btn btn-primary d-none w-100' %>
  <% end %>

  <%= form_tag "/rooms/#{@room_id}/player_ready", method: :post, remote: true do %>
    <%= hidden_field_tag :player_ready, @player.name %>
    <%= submit_tag 'Ready', id: 'playerReadyButton', class: 'btn btn-primary d-none w-100' %>
  <% end %>
</div>
