<% content_for :channels do %>
  <%= javascript_pack_tag 'channels/main' %>
<% end %>

<h1>How well do you know each other?</h1>
<h4><%= @room.name %></h4>

<div id="roomId" data-room-id="<%= @room_id %>"></div>


<div id="users">
  <h3>Answering</h3>
  <ul id="userList">
    <% @room.answerers.each do |player| %>
      <li><%= player.name %> <span data-player="<%= player.name %>"></span></li>
    <% end %>
  </ul>
</div>

<h4>Question for <%= @room.questioner.name %></h4>
<h1><%= @question.question_for(@room.questioner.name) %></h1>

<ul class="question-options" id="questionOptions"></ul>
